<div
  class="absolute right-0 top-10 sm:-right-[50%] sm:translate-x-[50%]"
  clickOutsideSubmenu
  (clickOutside)="clickOutside.emit()">
  <div
    class="animate-fadeInForward rounded-md bg-white shadow-2xl transition-all duration-300 ease-in-out will-change-[opacity,transform]">
    <div class="w-[350px]">
      <div
        class="sticky left-0 top-0 flex items-center justify-between border-b border-dashed border-gray-100 px-5 py-4">
        <h3 class="text-[15px] font-semibold text-textBlack">
          Thông báo
          <span class="font-normal text-gray-500">(03)</span>
        </h3>
        <span class="text-[#605dff]">Đánh dấu đã đọc</span>
      </div>
      <ul class="max-h-[70vh] overflow-y-auto">
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
        <li class="notify-item">
          <div class="notify-item__icon-wrapper">
            <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
          </div>
          <div class="flex flex-col text-left">
            <p class="max-w-[255px]">
              Bài học <strong>Tránh quên await với res.json()</strong> mới được
              thêm vào.
            </p>
            <time datetime="03/06/2025" class="max-w-[255px] text-gray-500"
              >19 ngày trước</time
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
