<div class="flex items-center justify-center gap-6">
  <button class="action-btn">
    <span class="action-btn-icon pi pi-sun" style="font-size: 18px"></span>
  </button>
  <button class="action-btn" (click)="toggleFullscreen()">
    <span
      class="material-symbols-rounded action-btn-icon"
      style="font-size: 20px">
      {{ isFullscreen() ? 'fullscreen_exit' : 'fullscreen' }}
    </span>
  </button>
  <div class="relative">
    <button class="action-btn" (click)="toggleMenu('notifications')">
      <span class="action-btn-icon pi pi-bell" style="font-size: 18px"></span>
    </button>
    @if (headerSubmenuService.getActiveSubmenuMenu() === 'notifications') {
      <header-notifications (clickOutside)="headerSubmenuService.close()" />
    }
  </div>

  <div class="relative">
    <div
      class="flex cursor-pointer items-center gap-2"
      (click)="toggleMenu('information')">
      <img
        src="https://lh3.googleusercontent.com/a/AGNmyxZvwEXZAmBFuN14cAaRpQmPm5WQZCuoLGy1cWgb=s96-c"
        alt="Quy Nguyen"
        class="h-[35px] w-[35px] rounded-[50%] object-contain outline outline-[#C2CDFF]" />
      <div class="flex items-center gap-1">
        <span class="select-none font-semibold text-textBlack">Quy Nguyen</span>
        <span class="pi pi-angle-down text-textBlack"></span>
      </div>
    </div>
    @if (headerSubmenuService.getActiveSubmenuMenu() === 'information') {
      <header-information (clickOutside)="headerSubmenuService.close()" />
    }
  </div>
</div>
