<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="e-row e-g-4 e-g-md-6">
    <div class="e-col-8 e-col-lg-12">
      <div
        class="rounded border border-gray-100 bg-white p-4 shadow-main dark:border-dark-500 dark:bg-dark-200">
        <div class="mb-4 flex items-center justify-between">
          <h2 class="text-base font-medium">Thông tin gói đăng ký</h2>
          <app-button
            [variant]="'light'"
            [type]="'submit'"
            [loading]="isLoading()"
            [disabled]="form.invalid || isLoading()">
            Lưu thông tin
          </app-button>
        </div>

        <div class="e-row e-row-cols-2 e-row-cols-md-1 e-g-4">
          <div class="e-col-12">
            <app-form-control
              formControlName="name"
              name="name"
              label="Tên gói"
              type="text"
              placeholder="Nhập tên gói..."
              [maxLength]="25"
              [required]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col">
            <app-form-control
              name="priceMonthly"
              formControlName="priceMonthly"
              label="Giá tháng"
              type="number"
              placeholder="Nhập giá gói tháng..."
              [min]="1"
              [required]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col">
            <app-form-control
              formControlName="pricePerYear"
              name="pricePerYear"
              label="Giá năm"
              type="number"
              placeholder="Nhập giá gói năm..."
              [min]="1"
              [required]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col">
            <app-form-control
              formControlName="maxUsers"
              name="maxUsers"
              label="Số lượng tài khoản"
              type="number"
              placeholder="Nhập số lượng tài khoản..."
              [min]="1"
              [required]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col">
            <app-form-control
              formControlName="storageLimitGB"
              name="storageLimitGB"
              label="Dung lượng (GB)"
              type="text"
              placeholder="Nhập dung lượng lưu trữ..."
              [min]="1"
              [required]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col-12">
            <app-form-control
              formControlName="description"
              name="description"
              label="Mô tả"
              placeholder="Nhập mô tả..."
              [maxlength]="200"
              [isTextarea]="true"
              [submitted]="submitted()">
            </app-form-control>
          </div>
          <div class="e-col-12 form-group">
            <div class="checkbox flex flex-col text-left">
              <input
                type="checkbox"
                id="isRecommended"
                name="isRecommended"
                formControlName="isRecommended"
                hidden />
              <label
                class="relative ml-1 flex items-center gap-[6px] pt-2 font-semibold"
                for="isRecommended">
                <span for="isRecommended">
                  Đánh dấu gói này trở thành gói đề xuất
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="e-col-4 e-col-lg-12">
      <app-subscription-plan-card
        [name]="form.get('name')?.value"
        [maxUsers]="form.get('maxUsers')?.value"
        [storageLimitGB]="form.get('storageLimitGB')?.value"
        [priceMonthly]="form.get('priceMonthly')?.value"
        [description]="form.get('description')?.value"
        [pricePerYear]="form.get('pricePerYear')?.value" />
    </div>
  </div>
</form>
