<header
  class="sticky top-0 h-[70px] rounded-b-md bg-white px-5 py-3 sm:flex sm:h-auto">
  <div
    class="flex items-center justify-between sm:mx-auto sm:flex-col sm:gap-y-4 sm:py-3">
    <!-- ? Search Input -->
    <div class="flex items-center justify-center gap-6">
      <button
        class="transition-colors duration-200 ease-in hover:text-[#605dff]"
        style="position: static"
        (click)="toggleSidebar.emit()">
        <span class="pi pi-bars"></span>
      </button>

      <div
        class="flex h-11 w-[250px] items-center rounded-md border-gray-50 bg-gray-50 px-4 py-3">
        <input
          type="text"
          class="h-full w-full border-none bg-transparent pr-2 font-medium text-textBlack outline-none placeholder:text-gray-500"
          placeholder="Tìm kiếm..." />
        <button
          class="relative top-1 transition-colors duration-200 ease-in hover:text-[#605dff]">
          <span class="pi pi-search"></span>
        </button>
      </div>
    </div>

    <!-- ? User Information -->
    <header-user-actions />
  </div>
</header>
