<div
  class="rounded border border-gray-100 bg-white p-5 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <div class="mb-5 flex items-center justify-between"></div>
  <div class="relative">
    @if (isLoadingGet()) {
      <app-table-skeleton [tableHead]="tableHeadSkeleton()" />
    } @else {
      <p-table
        [value]="systemConfig()"
        dataKey="id"
        editMode="row"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-item let-i="rowIndex" let-editing="editing">
          <tr>
            <th scope="col" class="!w-[5%] !text-center">STT</th>
            <th scope="col" style="width: 15%" class="!text-center">Mã</th>
            <th
              scope="col"
              style="width: 20%"
              class="!min-w-[150px] !text-center">
              Chỉnh sửa <br />
              gần nhất
            </th>
            <th scope="col" style="width: 25%" class="!text-center">
              <div class="flex items-center justify-center gap-2">
                <span>Giá trị</span>
                <span class="material-symbols-outlined mt-[-1px] text-lg">
                  edit
                </span>
              </div>
            </th>
            <th
              scope="col"
              style="width: 30%"
              class="!min-w-[300px] !text-center">
              <div class="flex items-center justify-center gap-2">
                <span>Mô tả</span>
                <span class="material-symbols-outlined mt-[-1px] text-lg">
                  edit
                </span>
              </div>
            </th>
            <th scope="col" style="width: 5%"></th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-i="rowIndex" let-editing="editing">
          <tr [pEditableRow]="item">
            <td class="!text-center">{{ i + 1 | leadingZero }}</td>

            <td class="!text-center">
              <span class="font-semibold">{{ item.key }}</span>
            </td>
            <td class="!text-center">
              {{ item.lastModifiedAt | date: 'dd/MM/yyyy' }}
            </td>
            <td class="!text-center">
              <p-cellEditor>
                <ng-template #input>
                  <input pInputText [(ngModel)]="item.value" class="w-full" />
                </ng-template>
                <ng-template #output>
                  {{ item.value }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td class="!text-center">
              <p-cellEditor>
                <ng-template #input>
                  <input
                    pInputText
                    [(ngModel)]="item.description"
                    class="w-full" />
                </ng-template>
                <ng-template #output>
                  {{ item.description }}
                </ng-template>
              </p-cellEditor>
            </td>

            <td>
              <div class="flex items-center justify-center gap-2">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  (click)="onRowEditInit(item)"
                  text
                  rounded>
                  <app-button
                    *ngIf="!editing"
                    pTooltip="Chỉnh sửa"
                    tooltipPosition="top"
                    variant="rounded"
                    size="xs"
                    class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-primary shadow-none hover:bg-transparent">
                    edit
                  </app-button>
                </button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  (click)="onRowEditSave(item)"
                  text
                  rounded>
                  <app-button
                    *ngIf="editing"
                    pTooltip="Lưu lại"
                    tooltipPosition="top"
                    variant="rounded"
                    size="xs"
                    class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-success shadow-none hover:bg-transparent">
                    check
                  </app-button>
                </button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  (click)="onRowEditCancel(item, i)"
                  text
                  rounded>
                  <app-button
                    *ngIf="editing"
                    pTooltip="Hủy"
                    tooltipPosition="top"
                    variant="rounded"
                    size="xs"
                    class="material-symbols-outlined flex items-center justify-center border-none bg-transparent text-lg !text-danger shadow-none hover:bg-transparent">
                    close
                  </app-button>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">
              <div class="h-[200px]"></div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
    @if (systemConfig().length === 0) {
      <div
        class="pointer-events-none absolute left-0 right-0 top-[50%] -translate-y-[50%]">
        <app-table-empty-state
          icon="settings"
          title="Chưa có cấu hình hệ thống"
          subtitle="Hệ thống hiện chưa có thiết lập cấu hình nào." />
      </div>
    }
  </div>
</div>
