<div
  class="rounded border border-gray-100 bg-white p-8 shadow-main dark:border-dark-500 dark:bg-dark-200">
  <h3 class="mb-4 text-center text-lg font-semibold">
    {{ name() }}
  </h3>
  <p class="mb-3 text-center text-lg font-medium dark:text-dark-100">
    <span class="text-2xl font-bold text-gray-800 dark:text-gray-200">{{
      price() | currency: 'VND' : 'symbol' : '1.0-0' : 'vi-VN'
    }}</span>
  </p>
  <p-button
    label="Mua ngay"
    icon="pi pi-arrow-up-right"
    iconPos="right"
    styleClass="rounded"
    [fluid]="true" />
  <ul class="mt-6 flex flex-col gap-3">
    <li class="flex items-center gap-4">
      <span class="material-symbols-outlined text-success-500"> check </span>
      <span class="text-[15px] font-medium dark:text-dark-100"
        >Số lượng credit: {{ credits() }}</span
      >
    </li>
    <li class="flex items-center gap-4">
      <span class="material-symbols-outlined text-success-500"> check </span>
      <span class="text-[15px] font-medium dark:text-dark-100"
        >Credit tặng thêm: {{ bonusCredits() || 0 }}</span
      >
    </li>
    @for (option of pricingPlanOptions(); track option) {
      <li class="flex items-center gap-4">
        <span class="material-symbols-outlined text-success-500"> check </span>
        <span class="text-[15px] font-medium dark:text-dark-100">{{
          option
        }}</span>
      </li>
    }
  </ul>
</div>
