<div class="e-row e-g-4 e-g-md-6">
  <div class="e-col-8 e-col-lg-12">
    <div
      class="rounded border border-gray-100 bg-white p-4 shadow-main dark:border-dark-500 dark:bg-dark-200">
      <div class="mb-4 flex items-center justify-between">
        <h2 class="text-base font-medium">Thông tin gói đăng ký</h2>
        <a
          [routerLink]="[
            '/admin/subscription-plans',
            subscriptionPlanId(),
            'update',
          ]">
          <app-button [variant]="'light'" [type]="'submit'"
            >Chỉnh sửa</app-button
          >
        </a>
      </div>

      <div class="e-row e-row-cols-2 e-row-cols-md-1 e-g-4">
        <div class="e-col-12">
          <app-form-control
            [readOnly]="true"
            label="Tên gói"
            type="text"
            [name]="'name'"
            [value]="subscriptionPlanDetail()?.name ?? ''">
          </app-form-control>
        </div>
        <div class="e-col">
          <app-form-control
            [readOnly]="true"
            label="Giá tháng"
            [type]="'number'"
            [name]="'priceMonthly'"
            [value]="subscriptionPlanDetail()?.priceMonthly + ''">
          </app-form-control>
        </div>
        <div class="e-col">
          <app-form-control
            [readOnly]="true"
            label="Giá năm"
            [type]="'number'"
            [name]="'pricePerYear'"
            [value]="subscriptionPlanDetail()?.pricePerYear + ''">
          </app-form-control>
        </div>
        <div class="e-col">
          <app-form-control
            [readOnly]="true"
            label="Số lượng tài khoản"
            [type]="'number'"
            [name]="'maxUsers'"
            [value]="subscriptionPlanDetail()?.maxUsers + ''">
          </app-form-control>
        </div>
        <div class="e-col">
          <app-form-control
            [readOnly]="true"
            label="Dung lượng (GB)"
            [type]="'text'"
            [name]="'storageLimitGB'"
            [value]="subscriptionPlanDetail()?.maxUsers + ''">
          </app-form-control>
        </div>
        <div class="e-col-12">
          <app-form-control
            [readOnly]="true"
            [isTextarea]="true"
            [label]="'Mô tả'"
            [value]="subscriptionPlanDetail()?.description ?? ''"
            [name]="'description'">
          </app-form-control>
        </div>
        <div class="e-col-12 form-group">
          <div class="checkbox flex flex-col text-left">
            <input
              type="checkbox"
              id="isRecommended"
              name="isRecommended"
              disabled
              [value]="subscriptionPlanDetail()?.isRecommended"
              [checked]="subscriptionPlanDetail()?.isRecommended"
              hidden />
            <label
              class="relative ml-1 flex items-center gap-[6px] pt-2 font-semibold"
              for="isRecommended">
              <span for="isRecommended"
                >Đánh dấu gói này trở thành gói đề xuất</span
              >
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-col-4 e-col-lg-12">
    <app-subscription-plan-card
      [maxUsers]="subscriptionPlanDetail()?.maxUsers ?? 0"
      [storageLimitGB]="subscriptionPlanDetail()?.storageLimitGB ?? 0"
      [description]="subscriptionPlanDetail()?.description ?? ''"
      [priceMonthly]="subscriptionPlanDetail()?.priceMonthly ?? 0"
      [pricePerYear]="subscriptionPlanDetail()?.pricePerYear ?? 0" />
  </div>
</div>
